<div id="mainContent" class="blog-container">
    <section>
        <div>
                <div class="row">
                    <div class="col-md-8">
                                        <form class="form-horizontal" role="form">
                                          <div class="form-group col-md-6">
                                                <label>Start Date</label>
                                                 <input type="date" name="StartDate" ng-model="startDate"/>
                                          </div>
                                          <div class="form-group col-md-6">
                                                <label>End Date</label>
                                                 <input type="date" name="EndDate" ng-model="endDate"/>
                                          </div>
                                          <div class="form-group col-md-6">
                                            <label for="contain">Post Writer</label>
                                            <input class="form-control" type="text" ng-model="searchedwriter" name="PostWriter"/>
                                          </div>
                                          <div class="form-group col-md-6">
                                            <label for="contain">Title</label>
                                            <input class="form-control" ng-model="searchedtitle" type="text" name="PostTitle"/>
                                          </div>
                                          <div class="form-group col-md-6">
                                                <label for="contain">Post content</label>
                                                <input class="form-control" ng-model="searchedcontent" type="text" name="PostContent"/>
                                         </div>
                                        <div class="form-group col-md-6">
                                                <label for="contain">Writer website URL</label>
                                                <input class="form-control" type="text" ng-model="searchedwriterWebsiteUrl" name="PostWriterWebsiteURL"/>
                                        </div>
                                        <button type="button" class="btn btn-primary" ng-click="getPosts()">Search
                                        </button>
                                         </form>
                                    </div>
                                </div>
                            </div>
                            </section>
        <div id="addPost">
            <button class="btn btn-primary" ng-click="openModal()">Add new post</button>
        </div>
        <section ng-repeat="post in posts">
            <article class="blogPost">
                <header ng-click="getMoreDetails(post)">
                    <h2>
                        <div>
                          {{post.title}}
                        </div>
                    </h2>
                    <p>
                        Posted on.
                        <time datetime="{{post.publishDate}}">
                          {{post.publishDate}}                        
                        </time>
                        by
                        <a href="{{post.writerWebsiteUrl}}">{{post.writer}}</a>
                        -
                        <a>
                            {{post.comments.length}} comments
                        </a>
                    </p>
                </header>
                <div>
                    <p>
                       {{post.content}}
                    </p>
                   <a ng-click="addPostComment(post)">add a comment</a>
                </div>
                <section class="comments" ng-show="post._id == expandedPost">
                  <h3>Comments</h3>
                  <article ng-repeat="comment in post.comments">
                      <dl class="dl-horizontal">
                          <dt>
                              Title:
                          </dt>
                          <dd>
                              {{comment.title}}
                          </dd>

                          <dt>
                              Writer
                          </dt>
                          <dd>
                              {{comment.writer}}
                          </dd>

                          <dt>
                              Content
                          </dt>
                          <dd>
                              {{comment.content}}
                          </dd>

                          <dt>
                              Writer Website URL
                          </dt>
                          <dd>
                              <a ng-href="comment.writerWebSiteUrl)">
                                  {{comment.writerWebsiteUrl}}
                              </a>
                          </dd>
                      </dl>
                  </article>
            </section>
            <section id="addComment" class="comments" ng-show="post._id == addCommentToPost">          
              <article>
                  <dl class="dl-horizontal">
                      <dt>
                          Title
                      </dt>
                      <dd>
                          <input type="text" ng-model="addComment.title">
                      </dd>

                      <dt>
                          Writer
                      </dt>
                      <dd>
                          <input type="text" ng-model="addComment.writer">
                      </dd>

                      <dt>
                          Content
                      </dt>
                      <dd>
                          <input type="text" ng-model="addComment.content">
                      </dd>

                      <dt>
                          Writer Website URL
                      </dt>
                      <dd>
                          <input type="text" ng-model="addComment.writerWebsiteUrl">
                      </dd>
                  </dl>
                  <h4 ng-click="addNewComment()" id="add-comment-action-label">Add Comment</h4>
              </article>            
            </section>
            </article>
        </section>
        </section>
        <section>
</div>

<post-card save-callback="addPost" open-modal-callback="showModal"></post-card>