<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">
            <h1 class="my-4">Blog
            <small>posts section</small>
          </h1>
            <!-- Blog Post -->
            <div ng-repeat="post in posts">
                <div class="card mb-4">
                    <div class="card-body">
                        <h2 class="card-title">    {{post.title}}</h2>
                        <p class="card-text"> {{post.content}} </p>
                        <button class="btn btn-primary" ng-click="addPostComment(post)">add a comment</button>
                        <section id="addComment" class="comments" ng-show="post._id == addCommentToPost">
                            <form name="commentForm" novalidate ng-submit="">
                                <article>
                                    <dl class="dl-horizontal">
                                        <dt>
                                            Title (*)
                                        </dt>
                                        <dd>
                                            <input required type="text" ng-model="addComment.title">
                                        </dd>
                                        <dt>
                                            Writer (*)
                                        </dt>
                                        <dd>
                                            <input required type="text" ng-model="addComment.writer">
                                        </dd>
                                        <dt>
                                            Content (*)
                                        </dt>
                                        <dd>
                                            <input required type="text" ng-model="addComment.content">
                                        </dd>
                                        <dt>
                                            Writer Website URL
                                        </dt>
                                        <dd>
                                            <input type="text" ng-model="addComment.writerWebsiteUrl">
                                        </dd>
                                    </dl>
                                    <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-click="addNewComment()" ng-disabled="commentForm.$invalid">Save</button>
                                </article>
                            </form>
                        </section>
                    </div>
                    <div class="card-footer text-muted">
                        Posted on.
                        <time datetime="{{post.publishDate}}">
                            {{post.publishDate}}
                        </time>
                        by
                        <a href="{{post.writerWebsiteUrl}}" target="_blank">{{post.writer}}</a> -
                        <a ng-click="getMoreDetails(post)">
                            {{post.comments.length}} comments
                    </a>
                    </div>
                </div>
                <p>
                    <button class="btn btn-link mx-auto" type="button" data-toggle="collapse" data-target="{{'#commentsCollapse-'+$index}}" aria-expanded="false">
                        Show Comments
                    </button>
                </p>
                <div class="collapse" id="{{'commentsCollapse-'+$index}}">
                    <div class="card card-body">
                        <article ng-repeat="comment in post.comments">
                            <dl class="dl-horizontal">
                                <dt>
                                    Title:
                                </dt>
                                <dd>
                                    {{comment.title}}
                                </dd>
                                <dt>
                                    Writer
                                </dt>
                                <dd>
                                    {{comment.writer}}
                                </dd>
                                <dt>
                                    Content
                                </dt>
                                <dd>
                                    {{comment.content}}
                                </dd>
                                <dt>
                                    Writer Website URL
                                </dt>
                                <dd>
                                    <a ng-href="comment.writerWebSiteUrl)">
                                  {{comment.writerWebsiteUrl}}
                              </a>
                                </dd>
                            </dl>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
            <!-- Search Widget -->
            <div class="card my-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <form class="form" role="form">
                        <div class="form-group">
                            <label>Start Date</label>
                            <input type="date" class="form-control" name="StartDate" ng-model="startDate" />
                        </div>
                        <div class="form-group">
                            <label>End Date</label>
                            <input type="date" class="form-control" name="EndDate" ng-model="endDate" />
                        </div>
                        <div class="form-group">
                            <label for="contain">Post Writer</label>
                            <input class="form-control" class="form-control" type="text" ng-model="searchedwriter" name="PostWriter" />
                        </div>
                        <div class="form-group">
                            <label for="contain">Title</label>
                            <input class="form-control" class="form-control" ng-model="searchedtitle" type="text" name="PostTitle" />
                        </div>
                        <div class="form-group">
                            <label for="contain">Post content</label>
                            <input class="form-control" class="form-control" ng-model="searchedcontent" type="text" name="PostContent" />
                        </div>
                        <div class="form-group">
                            <label for="contain">Writer website URL</label>
                            <input class="form-control" type="text" ng-model="searchedwriterWebsiteUrl" name="PostWriterWebsiteURL" />
                        </div>
                        <button type="button" class="btn btn-primary" ng-click="getPosts()">Search
                        </button>
                        <button class="btn btn-primary" ng-click="openModal()">Add new post</button>
                    </form>
                </div>
            </div>
            <!-- Categories Widget -->
            <div class="card my-4">
                <h5 class="card-header">Newspaper</h5>
                <div class="card-body">
                    <div class="newspaper">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
                    </div>
                </div>
            </div>
            <!-- Side Widget -->
            <div class="card my-4 roundedCard">
                <div class="card-body roundedCard">
                   This is an amazing blog
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
<post-card save-callback="addPost" open-modal-callback="showModal"></post-card>