
<div id="mainContent">

    <link href="css/Model.css" rel="stylesheet" type="text/css" media="all" />

    <h2>Cool things you might want to share on Facebook!</h2>

    <p>
        <div id="player" style="height: 170px; width: 70%;"></div>
    </p>

    <div id="status"></div>
    <button id="shareBtn" ng-click="onShareClick($event)">Share</button>
    <div id="fb-root"></div>
    <p>
        <div id="player2" style="height: 170px; width: 70%;"></div>
    </p>
    <button id="shareBtn2" ng-click="onShareClick($event)">Share</button>
    <div id="fb-root"></div>

    <script src="js/3rdParty/jquery-1.10.2.min.js"></script>
</div>